<div id="landingpage_small">
  <div class="container">
    <div class="row landing-image-small">
      <div class="col-xs-12 col-sm-12">
        <img src="^site_logo^" class="img-responsive landing-logo center-block"></img>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="row buttons-small">
        <div class="list-group">
          <a href="#" class="list-group-item">About the club</a>
          <a href="/club-manager/?team=Roxbury JK Tampere" class="list-group-item">
            Roxbury Tampere
          </a>
          <a href="/club-club/?team=Roxbury JK Helsinki" class="list-group-item">
            Roxbury Helsinki
          </a>
        </div>
      </div>
    </div>
    <div class="row socialmedia-small">
      <div class="col-xs-12 col-sm-12">
        <a class="icon" href="https://www.facebook.com/RoxburyJK/" target="_blank">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a class="icon" href="https://www.twitter.com/roxburyjk/" target="_blank">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a class="icon" href="https://www.instagram.com/roxbury_jk/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
