<div id="landingpage_large">
  <div class="container landing-image"> 
    <div class="row"> 
      <div class="col-md-2">
        <img src="^site_logo^" class="img-responsive"></img>
      </div>
      <div class="col-md-4 title">
        <h1>Roxbury JK<br />
        <small>Kickin' balls since 2008</small></h1>
      </div>
      <div class="col-md-2 pull-right socialmedia">
        <a class="icon" href="https://www.facebook.com/RoxburyJK/" target="_blank">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a class="icon" href="https://www.twitter.com/roxburyjk/" target="_blank">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a class="icon" href="https://www.instagram.com/roxbury_jk/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="row description">
      <div class="col-md-10 col-md-offset-1">
        <h2>
          Roxbury jalkapalloklubi on ennakkoluuloton ja kokeilunhaluinen herrasmieskerho, jolla on toimintaa Tampereella ja Helsingissä.
        </h2>
      </div>
    </div>
  </div>
  <div class="container buttons">
    <div class="row">
      <div class="col-md-2 col-md-offset-3">
        <a href="#" role="button" class="btn btn-default">
          About the club
        </a>
      </div>
      <div class="col-md-2">
        <a href="/club-manager/season/?team=Tampere" role="button" class="btn btn-default">
          Roxbury Tampere
        </a>
      </div>
      <div class="col-md-2">
        <a href="/club-manager/season/?team=Helsinki" role="button" class="btn btn-default">
          Roxbury Helsinki
        </a>
      </div>
    </div>
  </div>
</div>

