^tmp_head^
^angular^
<div class="container" ng-controller="MatchStandaloneController">
  <div class="row">
    <div class="col-sm-3">
      ^tmp_logo^
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          ^tmp_navigation^
        </div>
        <div class="col-sm-9">
          ^tmp_match^
        </div>
        <div class="col-sm-3">
          <table class="table"> 
            <thead>
            <tr>
              <th>#</th>
              <th>Pelaaja</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in match.players">
            <th>{{player.number}}</th>
            <th>
              <a ng-href="/club-manager/player?name={{player.name}}">
                {{player.name}}
              </a>
            </th>
            </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
^tmp_angular=matchStandalone^
^tmp_footer^


