^tmp_head^
<div class="container" ng-controller="TeamController">
  <div class="row">
     
    <div class="col-sm-3">
      <div>
        ^tmp_logo^
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a ng-href="/club-manager/players?team={{team}}">
            Pelaajat
          </a>
        </li>
        <li class="dropdown">
          <a>Kaudet</a>
        </li>
      </ul>
    </div>
   
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          Feed
        </div>
      </div>
    </div>

  </div>
</div>
^angular^
^tmp_angular=team^
^tmp_footer^
