^tmp_head^
^angular^
<div class="container" ng-controller="TeamController">
  <div class="row">
     
    <div class="col-sm-3">
      <div>
        ^tmp_logo^
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a ng-href="/club-manager/players?team={{team}}">
            Pelaajat
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" 
            data-toggle="dropdown" role="button" 
            aria-haspopup="true" aria-expanded="false"
          >
            Kaudet <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="season in seasons"> 
              <a ng-href="/club-manager/season/?name={{season.name}}">
                {{season.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
   
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <div ng-repeat="post in posts">
            <!-- Aricles -->
            <div ng-if="isArticle(post)">
              ^tmp_elements=article^
            </div>
            <!-- Match reports -->
            <div ng-if="!isArticle(post)">
              ^tmp_match^
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
^tmp_angular=team^
^tmp_footer^
